BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: Always
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: False
BinPackArguments: False
IndentCaseLabels: True
InsertNewlineAtEOF: True
Language: Cpp
PointerAlignment: Left
AlignConsecutiveDeclarations: true
QualifierAlignment: Left
RemoveBracesLLVM: True
SpaceAfterCStyleCast: False
SpaceBeforeAssignmentOperators: True
SpaceInEmptyBlock: True
IndentPPDirectives: AfterHash
